@font-face {
  font-family: "Courier-regular";
  src: url("../assets/font/courier.ttf"); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none; }

button,
a {
  cursor: pointer;
  text-decoration: none !important;
  border: 0;
  display: inline-block; }

a {
  color: #007bff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; }
  a:hover {
    text-decoration: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

a:hover,
a:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

body {
  margin: 0;
  padding: 0;
  background: #797979;
  font-family: "PT Sans", sans-serif;
  font-weight: 400; }

.container {
  max-width: 1030px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.content-container {
  max-width: 801px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

.d_none {
  display: none; }

.main--block {
  background-image: url("../assets/img/Background/main-bg.jpg");
  background-size: cover;
  background-position: center; }

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #2f1b15;
  font-size: 24px;
  line-height: 2.076; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

header {
  padding: 48px 0 44px; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    min-height: 85px; }
  header .header-title {
    text-align: center;
    padding-top: 8px; }

.secret {
  position: absolute;
  right: -37px;
  top: -21px; }

.fio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .fio__row:first-child input {
    text-transform: capitalize; }
  .fio__row span {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #2f1b15;
    font-size: 22.4px;
    margin-right: 15px;
    white-space: nowrap; }

.fio__inp {
  width: 100%;
  height: 57px;
  position: relative; }
  .fio__inp .invalid-email {
    color: red;
    font-size: 15px;
    padding-left: 18px; }
  .fio__inp .about-you--inp {
    font-family: "Courier-regular";
    font-size: 30px;
    color: #231f20;
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 18px; }
    .fio__inp .about-you--inp::-webkit-input-placeholder {
      color: #231f20; }
    .fio__inp .about-you--inp:-ms-input-placeholder {
      color: #231f20; }
    .fio__inp .about-you--inp::-ms-input-placeholder {
      color: #231f20; }
    .fio__inp .about-you--inp::placeholder {
      color: #231f20; }
  .fio__inp::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-image: url("../assets/img/Fio/underline.png");
    bottom: 0;
    left: 0;
    background-size: cover; }

.about-you-text {
  padding-top: 55px; }

.about-you-paragraph {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3d3d3d;
  line-height: 1.533; }

.checkbox--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .checkbox--block .checkbox--item__block {
    padding-top: 35px;
    max-width: 233px;
    width: 100%;
    margin-right: 15px; }
    .checkbox--block .checkbox--item__block:last-child {
      margin-right: 0; }
    .checkbox--block .checkbox--item__block .checkbox--row {
      font-family: "PT Sans", sans-serif;
      font-weight: 700;
      font-size: 21px;
      color: #000;
      line-height: 1;
      display: block;
      position: relative;
      cursor: pointer;
      margin-bottom: 14px;
      padding-left: 33px;
      /* Hide the browser's default checkbox */
      /* Create a custom checkbox */ }
      .checkbox--block .checkbox--item__block .checkbox--row .docs--link {
        color: #1f5f97;
        border-bottom: 1px solid #1f5f97; }
      .checkbox--block .checkbox--item__block .checkbox--row input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
        .checkbox--block .checkbox--item__block .checkbox--row input:checked ~ .checkmark:before {
          content: "";
          display: block;
          background-image: url("../assets/img/About-you/checkbox-arrow.png");
          vertical-align: middle;
          position: absolute;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 19px;
          height: 25px;
          bottom: 3px;
          left: 4px; }
      .checkbox--block .checkbox--item__block .checkbox--row .checkmark {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        height: 18px;
        width: 18px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        background-image: url("../assets/img/About-you/checkbox.png");
        background-size: cover; }
        .checkbox--block .checkbox--item__block .checkbox--row .checkmark:before {
          display: none; }

.slider-block {
  position: relative;
  margin-top: 15px; }
  .slider-block .thumb {
    background-image: url("../assets/img/About-you/input-thumb.png");
    width: 16px;
    height: 14px;
    margin-top: -4px;
    margin-left: -7px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s; }
  .slider-block .inp--slider {
    width: 100%;
    background-image: url("../assets/img/Fio/underline.png");
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-size: cover;
    background-position: bottom;
    height: 3px;
    margin: 0;
    position: relative; }
    .slider-block .inp--slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../assets/img/About-you/input-thumb.png");
      width: 16px;
      height: 14px;
      margin-top: -19px;
      margin-left: -7px;
      cursor: pointer;
      display: none; }
    .slider-block .inp--slider::-ms-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../assets/img/About-you/input-thumb.png");
      width: 16px;
      height: 14px;
      margin-top: -19px;
      margin-left: -7px;
      cursor: pointer; }
    .slider-block .inp--slider::-moz-range-thumb {
      background: transparent;
      border: none;
      display: none !important; }
  .slider-block.first .inp--slider::-webkit-slider-thumb {
    margin-left: -7px; }
  .slider-block.first .inp--slider::-ms-thumb {
    margin-left: -7px; }
  .slider-block.first .inp--slider::-moz-range-thumb {
    margin-left: -107px;
    border-right: 240px solid transparent; }
  .slider-block.second .inp--slider::-webkit-slider-thumb {
    margin-left: -117.5px; }
  .slider-block.second .inp--slider::-ms-thumb {
    margin-left: -117.5px; }
  .slider-block.second .inp--slider::-moz-range-thumb {
    margin-left: -117.5px;
    border-right: 354px solid transparent; }
  .slider-block.third .inp--slider::-webkit-slider-thumb {
    margin-left: -125px; }
  .slider-block.third .inp--slider::-ms-thumb {
    margin-left: -125px; }
  .slider-block.third .inp--slider::-moz-range-thumb {
    margin-left: -125px;
    border-right: 188px solid transparent; }
  .slider-block.fourth .inp--slider::-webkit-slider-thumb {
    margin-left: 5px; }
  .slider-block.fourth .inp--slider::-ms-thumb {
    margin-left: 5px; }
  .slider-block.fourth .inp--slider::-moz-range-thumb {
    margin-left: 5px;
    border-left: 760px solid transparent;
    padding-bottom: 30px; }
  .slider-block .slider-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 29px; }
    .slider-block .slider-menu .slider-menu-first {
      position: relative; }
      .slider-block .slider-menu .slider-menu-first::after {
        content: "";
        background: #4b322d;
        width: 3px;
        height: 24px;
        position: absolute;
        left: 0;
        top: -35px; }
    .slider-block .slider-menu .slider-menu-fourth {
      position: relative; }
      .slider-block .slider-menu .slider-menu-fourth::before {
        content: "";
        background: #4b322d;
        width: 3px;
        height: 24px;
        position: absolute;
        right: 0;
        top: -35px; }
    .slider-block .slider-menu li {
      font-family: "PT Sans", sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: #2f1b15;
      max-width: 175px;
      cursor: pointer;
      padding: 0 3px; }
      .slider-block .slider-menu li:last-child {
        padding-right: 0; }
      .slider-block .slider-menu li:first-child {
        padding-left: 0; }
    .slider-block .slider-menu .slider-menu-item {
      position: relative; }
      .slider-block .slider-menu .slider-menu-item::after {
        content: "";
        background: #3f241e;
        width: 3px;
        height: 10px;
        position: absolute;
        left: 0;
        top: -34.5px; }

.about-you-inp-block {
  height: 40px;
  margin-bottom: 18px; }
  .about-you-inp-block:last-child {
    margin-bottom: 42px; }

.about-you-title {
  margin-top: 30px; }
  .about-you-title ~ p {
    margin-bottom: 35px; }

.radio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 70px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .radio-block li {
    margin-right: 15px;
    margin-bottom: 15px; }
    .radio-block li:last-child {
      margin-bottom: 0;
      margin-right: 0; }
  .radio-block .radio-row {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .radio-block .radio-row input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
      .radio-block .radio-row input:checked ~ .checkmark-radio:after {
        display: block; }
    .radio-block .radio-row .checkmark-radio {
      position: absolute;
      top: 0;
      left: 0;
      height: 28px;
      width: 28px;
      background-image: url("../assets/img/About-you/radio.png");
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .radio-block .radio-row .checkmark-radio:after {
        content: "";
        position: absolute;
        display: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-image: url("../assets/img/About-you/radio-checked.png");
        background-size: cover;
        background-position: center; }

.completion-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 391px;
  width: 100%;
  padding-bottom: 73px;
  line-height: 1; }
  .completion-date h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 22.4px;
    color: #2f1b15; }
  .completion-date span {
    font-family: "Courier-regular";
    font-size: 30px;
    color: #231f20;
    position: relative;
    padding-bottom: 10px;
    width: 206px;
    text-align: center;
    display: block; }
    .completion-date span::after {
      content: "";
      width: 100%;
      height: 3px;
      background-image: url("../assets/img/Fio/underline.png");
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0; }

@media (max-width: 991px) {
  .secret {
    right: 0; } }

@media (max-width: 768px) {
  .content-container {
    max-width: 546px; }
  .slider-block.first .inp--slider::-webkit-slider-thumb {
    margin-left: -7px; }
  .slider-block.second .inp--slider::-webkit-slider-thumb {
    margin-left: -112px; }
  .slider-block.third .inp--slider::-webkit-slider-thumb {
    margin-left: -119px; }
  .slider-block.fourth .inp--slider::-webkit-slider-thumb {
    margin-left: 5px; } }

@media (max-width: 576px) {
  .container {
    padding: 0; }
  .secret {
    width: 150px; }
  .logo {
    width: 100px; }
  .header-title a {
    width: 150px; }
  .fio__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 25px; }
    .fio__row .about-you--inp {
      padding-left: 0; }
  .radio-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .slider-menu li {
    font-size: 10px !important; }
  .completion-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .completion-date .data {
      margin-top: 30px; }
  .content-container {
    max-width: 420px; }
  .slider-block.first .inp--slider::-webkit-slider-thumb {
    margin-left: -7px; }
  .slider-block.second .inp--slider::-webkit-slider-thumb {
    margin-left: -88.5px; }
  .slider-block.third .inp--slider::-webkit-slider-thumb {
    margin-left: -100px; }
  .slider-block.fourth .inp--slider::-webkit-slider-thumb {
    margin-left: 5px; }
  .completion-date span {
    text-align: left; } }

@media (max-width: 420px) {
  .content-container {
    max-width: 320px; }
  .slider-block.first .inp--slider::-webkit-slider-thumb {
    margin-left: -7px; }
  .slider-block.second .inp--slider::-webkit-slider-thumb {
    margin-left: -62px; }
  .slider-block.third .inp--slider::-webkit-slider-thumb {
    margin-left: -72px; }
  .slider-block.fourth .inp--slider::-webkit-slider-thumb {
    margin-left: 5px; } }
